In [1]:
#input() Function

In [4]:
# Take user input

amount = input()
print(amount)

1000
1000

In [6]:
name = input()
print(name)

hanook
hanook

In [7]:
#Printing Message Before Input

In [9]:
marks = input("enter the first sem results")
print(marks)

enter the first sem results2.7
2.7

In [10]:
#The input() function always takes input in the string format. We can check this by using the type() function.

In [13]:
age = ("enter the present age:")
print(type(age))

<class 'str'>

In [14]:
#Print data type of integers and floating-point numbers

In [17]:
first_sem = 2
second_sem = 2.7
print(type(first_sem))
print(type(second_sem))

<class 'int'>
<class 'float'>

In [18]:
#Convert strings to integers and floats

In [22]:
marks = 5
ramu = int(marks)
print(type(ramu))

<class 'int'>