# # Python Tuples.

In [1]:
mytuple = ('rama', 'sitha', 'laxman', 'bhishma')
print(mytuple)

('rama', 'sitha', 'laxman', 'bhishma')

In [3]:
mytuple = ('rama', 'sitha', 'laxman', 'bhishma')
print(len(mytuple))

4

In [6]:
mytuple_1 = ('apple',)
print(mytuple_1)

('apple',)

In [8]:
mytuple_1 = ('apple')
print(mytuple_1)

apple

In [9]:
print(type(mytuple_1))

<class 'str'>

In [10]:
tuple1 = ("ram", "luccy", "bheeem")
tuple2 = (1, 5, 7, 9, 3,10)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('ram', 'luccy', 'bheeem')
(1, 5, 7, 9, 3, 10)
(True, False, False)

In [11]:
tuple1 = ("abc", 34, True, 40, "male")

In [12]:
print(tuple1)

('abc', 34, True, 40, 'male')

In [13]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [15]:
print(tuple1[1])

34

In [16]:
x = ('ram', 'sitha', 'laxman','geetha')

y = list(x)
y[1]= 'hanuma'
x= tuple(y)
print(x)

('ram', 'hanuma', 'laxman', 'geetha')

In [17]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [18]:
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [19]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [21]:
fruits = ("apple", "banana", "cherry")

(green, ram , red) = fruits

print(green)
print(ram)
print(red)

apple
banana
cherry

In [23]:
fruits_1 = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits_1

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [25]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *fun, red) = fruits

print(green)
print(fun)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [26]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [27]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 5

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [4]:
print(count())

NameError: name 'count' is not defined

In [6]:
tuple=('ram')
print(tuple)

ram

In [15]:
num = (1,2,3,4,5,6,9,8,7)

In [16]:
print(num)

(1, 2, 3, 4, 5, 6, 9, 8, 7)

In [17]:
num.count(5)

1

In [18]:
sum(num)

45

In [19]:
len(num)

9

In [20]:
max(num)

9

In [21]:
min(num)

1

In [22]:
type(num)

tuple

In [29]:
list = [1,2,3,4,5,6,9,8,7]
type(list)

list