# Python Lists

In [1]:
mylist = ["apple", "banana", "orange", "grapes", "1234", "True", "12.3"]

print(mylist)

['apple', 'banana', 'orange', 'grapes', '1234', 'True', '12.3']

In [3]:
print(type(mylist))

<class 'list'>

In [4]:
mylist = list(("apple", "banana", "orange", "grapes", "1234", "True", "12.3"))
print(mylist)

['apple', 'banana', 'orange', 'grapes', '1234', 'True', '12.3']

In [5]:
print(len(mylist))

7

## List: is a collection which is ordered and changeable. Allows duplicate members.
   Tuple: is a collection which is ordered and unchangeable. Allows duplicate members.
   Set: is a collection which is unordered and unindexed. No duplicate members.
   Dictionary: is a collection which is unordered and changeable. No duplicate members.

# Access Items

In [6]:
print(mylist[3])

grapes

In [7]:
print(mylist[0])

apple

In [8]:
print(mylist[-0])

apple

In [10]:
print(mylist[-3])

1234

In [11]:
print(mylist[2:3])

['orange']

In [13]:
print(mylist[3:7])

['grapes', '1234', 'True', '12.3']

In [14]:
print(mylist)

['apple', 'banana', 'orange', 'grapes', '1234', 'True', '12.3']

In [15]:
print(mylist[3:8])

['grapes', '1234', 'True', '12.3']

In [16]:
print(mylist[:2])

['apple', 'banana']

In [18]:
print(mylist[-6:-2])

['1234']

In [19]:
print(mylist[-6:-2])

['banana', 'orange', 'grapes', '1234']

In [20]:
if "grapes" in mylist:
    print("Grapes is located in the mylist")

Grapes is located in the mylist

# Change the item value in the list

In [21]:
print(mylist)

['apple', 'banana', 'orange', 'grapes', '1234', 'True', '12.3']

In [24]:
mylist[1] = "peach"
print(mylist)

['apple', 'peach', 'orange', 'grapes', '1234', 'True', '12.3']

In [26]:
mylist[-3] = "15.33"
print(mylist)

['apple', 'peach', 'orange', 'grapes', '15.33', 'True', '12.3']

In [27]:

mylist[1:3] = ["blackcurrant", "watermelon"]
print(mylist)

['apple', 'blackcurrant', 'watermelon', 'grapes', '15.33', 'True', '12.3']

In [28]:
mylist[1:2] = ["kivi", "kaki"]
print(mylist)

['apple', 'kivi', 'kaki', 'watermelon', 'grapes', '15.33', 'True', '12.3']

In [29]:
print(mylist)

['apple', 'kivi', 'kaki', 'watermelon', 'grapes', '15.33', 'True', '12.3']

In [34]:
mylist.insert(5, "banana")
print(mylist)

['apple', 'kivi', 'kaki', 'watermelon', 'grapes', 'banana', 'banana', '15.33', 'True', '12.3']

In [35]:
mylist.append("banana")
print(mylist)

['apple', 'kivi', 'kaki', 'watermelon', 'grapes', 'banana', 'banana', '15.33', 'True', '12.3', 'banana']

In [36]:
mylist.append(["apple", "20.2","string"])
print(mylist)

['apple', 'kivi', 'kaki', 'watermelon', 'grapes', 'banana', 'banana', '15.33', 'True', '12.3', 'banana', ['apple', '20.2', 'string']]

In [37]:
rani = ["apple", "banana", "cherry"]
raju = ["mango", "pineapple", "papaya"]
rani.extend(raju)
print(rani)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [38]:
print(mylist)

['apple', 'kivi', 'kaki', 'watermelon', 'grapes', 'banana', 'banana', '15.33', 'True', '12.3', 'banana', ['apple', '20.2', 'string']]

In [41]:
mylist.remove("banana")
print(mylist)

['apple', 'kivi', 'kaki', 'watermelon', 'grapes', '15.33', 'True', '12.3', 'banana', ['apple', '20.2', 'string']]

In [43]:
mylist.pop(5)
print(mylist)

['apple', 'kivi', 'kaki', 'watermelon', 'grapes', '12.3', 'banana', ['apple', '20.2', 'string']]

In [45]:
mylist.pop(3)
print(mylist)

['apple', 'kivi', 'kaki', 'grapes', '12.3', 'banana', ['apple', '20.2', 'string']]

In [48]:
del mylist[3]
print(mylist)

['apple', 'kivi', 'kaki', '12.3', 'banana', ['apple', '20.2', 'string']]

In [49]:
mylist = range(100)
print(mylist)

range(0, 100)

In [50]:
mylist = list(range(20))
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [51]:
mylist.clear()
print(mylist)

[]

In [52]:
print(mylist)

[]

In [54]:
mylist = list(range(15))
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

SyntaxError: cannot assign to literal (<ipython-input-59-7483b672a8e6>, line 1)

In [61]:
list = ["apple", "banana", "cherry", "cherry"]
for y in list:
  print(y)

apple
banana
cherry
cherry

In [66]:
mylist = ["apple", "banana", "orange", "grapes", "1234", "True", "12.3"]
for i in range(len(mylist)):
 print(mylist[i])

apple
banana
orange
grapes
1234
True
12.3

In [74]:
mylist = ["apple", "banana", "orange", "grapes", "1234", "True", "12.3"]
for x in range(len(mylist)):
 print(mylist[x])

apple
banana
orange
grapes
1234
True
12.3

In [72]:
myroom = ["ramu", "raju","amma", "20.2","tata"]
for i in range(len(myroom)):
   print(myroom)

['ramu', 'raju', 'amma', '20.2', 'tata']
['ramu', 'raju', 'amma', '20.2', 'tata']
['ramu', 'raju', 'amma', '20.2', 'tata']
['ramu', 'raju', 'amma', '20.2', 'tata']
['ramu', 'raju', 'amma', '20.2', 'tata']

In [ ]:
myroom = ["ramu", "raju","amma", "20.2","tata"]
i = 0
while i<len(myroom):
 print(myroom[i])
i = i+1

In [ ]:
print(myroom)