## Python Sets

In [1]:
set1 = {'amma',"nanna","brother", "sister"}
print(set1)

{'sister', 'brother', 'nanna', 'amma'}

In [2]:
set1 = {'amma',"amma","nanna","brother", "sister"}
print(set1)

{'sister', 'brother', 'nanna', 'amma'}

In [4]:
set1_1 = {'amma',"amma","nanna","brother", "sister"}
print(set1_1)

{'sister', 'brother', 'nanna', 'amma'}

In [5]:
set1_1 = {'amma',"amma","nanna","brother", "sister",'1'}
print(set1_1)

{'brother', 'sister', 'nanna', 'amma', '1'}

In [6]:
set_1.append('appa')
print(set1_1)

NameError: name 'set_1' is not defined

# # sets are unchangeble, so once you have created the sets then u can't change them

In [7]:
#Sets cannot have two items with the same value.

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [9]:
len(set1)

3

In [10]:
len(set1_1)

5

In [11]:
type(set1_1)

set

In [12]:
thisset = {"apple", "banana", "cherry", "kiwi"}

for x in thisset:
  print(x)

kiwi
banana
apple
cherry

In [13]:
print("kiwi" in thisset)

True

In [14]:
print("rahka" in thisset)

False

In [17]:
thisset.add('love')
print(thisset)

{'cherry', 'kiwi', 'banana', 'love', 'apple'}

In [1]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'cherry', 'orange', 'banana', 'kiwi'}

In [2]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 'b', 2, 3, 'a'}

In [3]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'c', 'b', 2, 3, 'a'}

In [4]:
# both update and union methods will exclude the duplicate values.

In [5]:
s1 = set([1,2,3,4,5,6,9,8,7])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
type(s1)

set

In [8]:
s1 = set([1,2,3,4,5,6,9,8,7,7,1,2])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
#sets npt allows the duplicate values.

In [10]:
s1 = {1,2,3,4,5,7,8,9}
s2 = {10,11,22,13,14,15,16, 1,2,3,}
s1.update(["amma",'nanna',"anna"])
print(s1)

{'amma', 1, 2, 3, 4, 5, 'nanna', 7, 8, 9, 'anna'}

In [11]:
s1.update(["amma",'nanna',"anna"],s2)
print(s1)

{'amma', 1, 2, 3, 4, 5, 'nanna', 7, 8, 9, 10, 11, 13, 14, 15, 16, 22, 'anna'}

In [13]:
s1 = {1,2,5,6}
s2 = {1,3,5,8}
s3 = {2,5,10,1}
s4 = s1.intersection(s2)
print(s4)

{1, 5}

In [14]:
s1 = {1,2,5,6}
s2 = {1,3,5,8}
s3 = {2,5,10,1}
s4 = s1.intersection(s2,s3)
print(s4)

{1, 5}

In [16]:
s1 = {1,2,5,6}
s2 = {1,3,5,8}
s3 = {2,5,10,1}
s4 = s1.difference(s2)
print(s4)

{2, 6}

In [17]:
s1 = {1,2,5,6}
s2 = {1,3,5,8}
s3 = {2,5,10,1}
s4 = s2.difference(s1)
print(s4)

{8, 3}

In [19]:
s1 = {1,2,5,6}
s2 = {1,3,5,8}
s3 = {2,5,10,1}
s4 = s1.symmetric_difference(s2)
print(s4)

{2, 3, 6, 8}

In [20]:
# remove the duplicate values in the tuple

In [21]:
tuple = [1,2,3,1,2,4,5,5,6,6,8,8,9,7,]
print(tuple)

[1, 2, 3, 1, 2, 4, 5, 5, 6, 6, 8, 8, 9, 7]

In [22]:
type(tuple)

list

In [23]:
set_1 = list(set(tuple))

In [24]:
print(set_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]