In [1]:
#List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [3]:
##Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

'Without list comprehension you will have to write a for statement with a conditional test inside:'

'Without list comprehension you will have to write a for statement with a conditional test inside:'

In [5]:
mylist = ['banana', 'apple', 'kaki', 'kiwi', 'anki' 'papaya', 'rajma']
newlist =[] 

for x in mylist:
    if "a" in x:
        newlist.append(x)
        
        print(newlist)

['banana']
['banana', 'apple']
['banana', 'apple', 'kaki']
['banana', 'apple', 'kaki', 'ankipapaya']
['banana', 'apple', 'kaki', 'ankipapaya', 'rajma']

In [8]:
for x in mylist:
    if "k" in x:
        newlist.append(x)
        print(newlist)

['banana', 'apple', 'kaki', 'ankipapaya', 'rajma', 'kaki']
['banana', 'apple', 'kaki', 'ankipapaya', 'rajma', 'kaki', 'kiwi']
['banana', 'apple', 'kaki', 'ankipapaya', 'rajma', 'kaki', 'kiwi', 'ankipapaya']

In [9]:
print(mylist)

['banana', 'apple', 'kaki', 'kiwi', 'ankipapaya', 'rajma']

In [12]:
new_1 = []

for x in mylist:

    if "k" in x:
        new_1.append(x)
        print(new_1)

['kaki']
['kaki', 'kiwi']
['kaki', 'kiwi', 'ankipapaya']

In [14]:
newlist = [x for x in mylist if "k" in x]
print(newlist)

['kaki', 'kiwi', 'ankipapaya']

In [15]:
print(mylist)

['banana', 'apple', 'kaki', 'kiwi', 'ankipapaya', 'rajma']

In [17]:
[x for x in mylist if x!='kiwi']

['banana', 'apple', 'kaki', 'ankipapaya', 'rajma']

In [19]:
[x for x in mylist if x!='apple']

['banana', 'kaki', 'kiwi', 'ankipapaya', 'rajma']

In [20]:
print(mylist)

['banana', 'apple', 'kaki', 'kiwi', 'ankipapaya', 'rajma']

In [23]:

newlist = [x for x in mylist]
print(newlist)

['banana', 'apple', 'kaki', 'kiwi', 'ankipapaya', 'rajma']

In [24]:

newlist = [x for x in mylist if x!='kaki']
print(newlist)

['banana', 'apple', 'kiwi', 'ankipapaya', 'rajma']

In [25]:
newlist =[x for x in range(10)]

In [26]:
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
newlist =[x for x in range(15)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [34]:
newlist = [x for x in range (10) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

In [38]:
suqres = []
for i in range(1,50):
    suqres.append(i)

print(suqres)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [43]:
print(suqres)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [45]:
print(suqres)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [4]:
list = [x for x in range(1,50)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [7]:
list =[]

for x in range(1,10):
    list.append(x*x*x)
    print(list)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [8]:
list= [x for x in range(10)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list = ["apple", "banana","orenge","kiwi","kaki"]

In [13]:
list_upper = [x.upper() for x in list ]

9

In [15]:
print(list_upper)

['APPLE', 'BANANA', 'ORENGE', 'KIWI', 'KAKI']

In [14]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [17]:
all_values = ['amma' for x in list]
print(all_values)

['amma', 'amma', 'amma', 'amma', 'amma']

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [19]:
print(list)

['apple', 'banana', 'orenge', 'kiwi', 'kaki']

In [20]:
list.sort()
print(list)

['apple', 'banana', 'kaki', 'kiwi', 'orenge']

In [21]:
fruits.sort()
print(list)

['apple', 'banana', 'kaki', 'kiwi', 'orenge']

In [22]:
thislist = [100, 50, 65, 82, 23,1,10,111,0,12,15,200,48,10,13,15]
thislist.sort()
print(thislist)

[0, 1, 10, 10, 12, 13, 15, 15, 23, 48, 50, 65, 82, 100, 111, 200]

In [28]:
mylist = [100, 50, 65, 82, 23,1,10,111,0,12,15,200,48,10,13,15]
mylist.sort(reverse=True)
print(mylist)

[200, 111, 100, 82, 65, 50, 48, 23, 15, 15, 13, 12, 10, 10, 1, 0]

In [31]:
fruits.sort(reverse=True)
print(fruits)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [33]:
def myfunc(n):
  return abs(n - 82)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[82, 65, 100, 50, 23]

In [38]:
#list = [x for x in range(50)]

def myfunc(n):
    
    return abs(n - 23)

list = [x for x in range(50)]

print(list)

list.sort(key = myfunc)

print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[23, 22, 24, 21, 25, 20, 26, 19, 27, 18, 28, 17, 29, 16, 30, 15, 31, 14, 32, 13, 33, 12, 34, 11, 35, 10, 36, 9, 37, 8, 38, 7, 39, 6, 40, 5, 41, 4, 42, 3, 43, 2, 44, 1, 45, 0, 46, 47, 48, 49]

#  Copy a list

In [1]:
newlist = ["apple", "banana", "cherry"]
mylist = newlist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [3]:
newlist.append('kiwi')
print(newlist)

['apple', 'banana', 'cherry', 'kiwi']

In [4]:
mylist = newlist.copy()

In [5]:
print(newlist)

['apple', 'banana', 'cherry', 'kiwi']

In [6]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [7]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
    print(list1)

['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]

In [8]:
for x in list1:
    list2.append(x)
    print(list2)

[1, 2, 3, 'a']
[1, 2, 3, 'a', 'b']
[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c', 1]
[1, 2, 3, 'a', 'b', 'c', 1, 2]
[1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [10]:
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3, [1, 2, 3, 'a', 'b', 'c', 1, 2, 3], 1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [12]:
'''List Methods
Python has a set of built-in methods that you can use on lists.

Method   	Description
append() 	Adds an element at the end of the list
clear() 	Removes all the elements from the list
copy()  	Returns a copy of the list
count()  	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()  	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()   	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()  	Sorts the list'''

'List Methods\nPython has a set of built-in methods that you can use on lists.\n\nMethod   \tDescription\nappend() \tAdds an element at the end of the list\nclear() \tRemoves all the elements from the list\ncopy()  \tReturns a copy of the list\ncount()  \tReturns the number of elements with the specified value\nextend()\tAdd the elements of a list (or any iterable), to the end of the current list\nindex()  \tReturns the index of the first element with the specified value\ninsert()\tAdds an element at the specified position\npop()   \tRemoves the element at the specified position\nremove()\tRemoves the item with the specified value\nreverse()\tReverses the order of the list\nsort()  \tSorts the list'